/*-- scss:defaults --*/
// Define colors
.pink {
  color: #e64173 !important;
}
.slate {
  color: #314f4f !important;
}
.turquoise {
  color: #44C1C4 !important;
}
.purple {
  color: #6A5ACD !important;
}
.orange {
  color: #FFA500 !important;
}
.yellow{
  color: #D8BD44 !important;
}
.green {
  color: #7CAE96 !important;
}
.grey {
  color: #8AA19E !important;
}
.blue {
  color: #54778B !important;
}
.red {
  color: #fb6107 !important;
}
// Define special classes
.ans {
  font-weight: 600;
  color: #FFA500 !important;
}
.gpt {
  font-weight: 600;
  color: #e64173 !important;
}
